* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

:root {
  --rec-primary: #00aaa2;
  --rec-dark: #293439;
  --rec-text: #475e6c;
  --rec-bg: #f4f7f7;
}
